In [17]:
import pandas as pd

In [50]:
df = pd.read_csv('./EPIC_100_train.csv')

In [51]:
USER_ID = "P07"

In [52]:
VIDEO_ID = "04"

In [53]:
OVERALL_ID = f"{USER_ID}_{VIDEO_ID}"

In [54]:
new_df = df[df["video_id"] == OVERALL_ID]
new_df.head()

,narration_id,participant_id,video_id,narration_timestamp,start_timestamp,stop_timestamp,start_frame,stop_frame,narration,verb,verb_class,noun,noun_class,all_nouns,all_noun_classes
26047,P07_04_0,P07,P07_04,00:00:08.180,00:00:07.58,00:00:13.58,454,814,wash forks,wash,2,fork,14,['fork'],[14]
26048,P07_04_1,P07,P07_04,00:00:15.190,00:00:14.74,00:00:18.04,884,1082,wash forks,wash,2,fork,14,['fork'],[14]
26049,P07_04_10,P07,P07_04,00:01:01.360,00:00:59.61,00:01:07.72,3576,4063,rinse plate,rinse,2,plate,2,['plate'],[2]
26050,P07_04_100,P07,P07_04,00:08:09.139,00:08:09.72,00:08:11.24,29383,29474,pour oil in pan,pour-in,9,oil,31,"['oil', 'pan']","[31, 5]"
26051,P07_04_101,P07,P07_04,00:08:14.689,00:08:27.82,00:08:30.17,30469,30610,open packaging,open,3,packaging,26,['packaging'],[26]

In [55]:
new_df = new_df.copy()
new_df["start_time"] = pd.to_datetime(new_df["start_timestamp"])

In [56]:
sorted_new_df = new_df.sort_values("start_time").reset_index()

In [57]:
with open(f'./{USER_ID}_subs/{OVERALL_ID}.srt', 'w') as sf:
    for index, row in sorted_new_df.iterrows():
        sf.write(f"{index + 1}\n")
        sf.write(f'{row["start_timestamp"]} --> {row["stop_timestamp"]}\n')
        sf.write(f'{row["narration"]}\n\n')