In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('./EPIC_100_train.csv')

In [3]:
USER_ID = "P" + input()

04

In [4]:
VIDEO_ID = input()

09

In [5]:
OVERALL_ID = f"{USER_ID}_{VIDEO_ID}"

In [10]:
new_df = df[df["video_id"] == OVERALL_ID]
new_df.head()

,narration_id,participant_id,video_id,narration_timestamp,start_timestamp,stop_timestamp,start_frame,stop_frame,narration,verb,verb_class,noun,noun_class,all_nouns,all_noun_classes
17302,P04_09_0,P04,P04_09,00:00:00.979,00:00:02.59,00:00:03.73,155,223,pick up sushi mat,pick-up,0,mat:sushi,259,['mat:sushi'],[259]
17303,P04_09_1,P04,P04_09,00:00:12.809,00:00:03.05,00:00:04.78,183,286,put away,put-away,1,mat:sushi,259,['mat:sushi'],[259]
17304,P04_09_10,P04,P04_09,00:01:08.550,00:01:05.59,00:01:06.77,3935,4006,pick up tupperware,pick-up,0,tupperware,23,['tupperware'],[23]
17305,P04_09_11,P04,P04_09,00:01:12.760,00:01:10.35,00:01:12.85,4221,4371,put tupperware in cupboard,put-in,5,tupperware,23,"['tupperware', 'cupboard']","[23, 3]"
17306,P04_09_12,P04,P04_09,00:01:13.900,00:01:18.32,00:01:19.63,4699,4777,pick up mug,pick-up,0,mug,13,['mug'],[13]

In [11]:
new_df = new_df.copy()
new_df["start_time"] = pd.to_datetime(new_df["start_timestamp"])

In [12]:
sorted_new_df = new_df.sort_values("start_time").reset_index()

In [13]:
with open(f'./{USER_ID}_subs/{OVERALL_ID}.srt', 'w') as sf:
    for index, row in sorted_new_df.iterrows():
        sf.write(f"{index + 1}\n")
        sf.write(f'{row["start_timestamp"]} --> {row["stop_timestamp"]}\n')
        sf.write(f'{row["narration"]}\n\n')